@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.wd-l-main {
    @apply wd-grid;
    grid-template-rows: auto 1fr auto;
}

.wd-layout-ram {
    @apply wd-grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));

    @screen md {
        grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    }

    @screen lg {
        grid-template-columns: repeat(auto-fit, minmax(33.33%, 1fr));
    }
}

.js-animate-line {
    transform-origin: 0 50%;
}

.js-click {
    filter: blur(16px);
    -webkit-filter: blur(16px);
}