{{!-- fallback classes --}}
<span class="wd-origin-top-left wd-origin-top wd-origin-top-right wd-origin-center wd-origin-bottom-left wd-origin-bottom wd-origin-bottom-right wd-origin-left wd-origin-right wd-hidden wd-static wd-relative wd-absolute"></span>