<footer class="wd-pt-2 md:wd-pt-4 wd-pb-2 md:wd-pb-4 wd-bg-dark2 wd-text-white wd-border-t-1 wd-border-dark1">
    <div class="wd-container wd-mx-auto wd-px-4 2xl:wd-px-0 wd-flex wd-justify-between wd-items-center">
        <div class="wd-font-bold">wongdarjo</div>
        <div class="wd-text-center"><small>&copy; 2021 <br> made with &#10084; by <a href="https://twitter.com/bimaindraa" target="_blank">@bimaindraa</a></small></div>
    </div>
</footer>