<footer class="wd-py-2 md:wd-py-3 wd-leading-5">
    <div class="wd-container wd-mx-auto wd-px-4 2xl:wd-px-0 wd-flex wd-justify-between wd-items-center">
        <div class="wd-font-bold wd-tracking-wide">wongdarjo</div>
        <div class="wd-text-center"><small>&copy; 2021 <br> made with &#10084; by <a href="https://twitter.com/bimaindraa" target="_blank">@bimaindraa</a></small></div>
    </div>
</footer>