<header class="wd-pt-4 wd-pb-4 wd-bg-white wd-text-dark2 wd-border-b-1 wd-border-t-0 wd-border-l-0 wd-border-r-0 wd-border-dark1">
    <div class="wd-container wd-mx-auto wd-px-4 2xl:wd-px-0 wd-flex">
        <a href="/" class="wd-font-bold">LetterMove</a>
    </div>
</header>