<header class="wd-pt-4 wd-pb-4 wd-bg-white wd-text-dark2">
    <div class="wd-container wd-mx-auto wd-px-4 2xl:wd-px-0 wd-flex wd-justify-between">
        <a href="/" class="wd-font-bold">LetterMove</a>
        <div>
            <a href="https://github.com/wongdarjo/letter-move" target="_blank">GitHub</a>
        </div>
    </div>
</header>